body{
	background-image:url(../img/login_bg.jpg);
	background-repeat:repeat-x|repeat-y;
	font-family: 'Oleo Script', cursive;
}
/* latin-ext */
@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script'), local('OleoScript-Regular'), url(http://fonts.gstatic.com/s/oleoscript/v5/_weQNDK6Uf40CiGFKBBUjiYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script'), local('OleoScript-Regular'), url(http://fonts.gstatic.com/s/oleoscript/v5/_weQNDK6Uf40CiGFKBBUjo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.lg-container{
	width: 275px;
	border: 1px solid #f4f4f4;
	background: rgba(255,255,255,.5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 2px #aaa;
	-moz-box-shadow: 0 0 2px #aaa;
	box-shadow: 0 0 2px #aaa;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 30px;
}
.lg-container h2{
	font-size:40px;
	text-align:center;
	color: #FF0066;
}
#lg-form input{
	border:1px solid rgba(51,51,51,.5);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding: 1px;
	font-size: 18px;
	line-height: 20px;
	width: 96%;
	font-family: 'Oleo Script', cursive;
	text-align:center;
}
#lg-form button{
	height: 25px; 
	width: 60px;
	padding: 1px;
	font-size: 16px;
	line-height: 18px;
}

#lg-form button:active{
	-webkit-box-shadow: 0px 0px 1px #aaa;
	-moz-box-shadow: 0px 0px 1px #aaa;
	box-shadow: 0px 0px 1px #aaa;
}

#lg-form button:hover{
	background:#91b9ff;
}
#message{width:100%;text-align:center}

.success {
	color: green;
}
.error {
	color: red;
}

select { 
	position: relative; 
	display: inline-block; 
	width: 60px; 
	height: 25px; 
	background-color: #f80; 
	font: 14px/20px "Microsoft YaHei"; 
	color: #fff; 
} 