/* global */
html{height: 100%;}

body
{ font-family: verdana, arial, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: .68em;
}

p
{ margin: 0px;
  padding: 0px 0px 16px 0px;
  line-height: 1.7em;
}

h1
{
	font-family: "Courier New", Courier, monospace;
	letter-spacing: .1em;
}

h2
{ margin: 0px;
  padding: 0px 0px 4px 0px;
  font-size: 100%;
}

img{border: 0px;}

a{outline: none;}

/* image positioning - left, right and center */
.left
{ float: left; 
  padding: 0px 8px 0px 0px;
}

.right
{ float: right; 
  padding: 0px 0px 0px 8px;
}

.center
{ display: block;
  text-align: center;
  margin: 0 auto;
}

/* block quote */
blockquote
{ margin: 20px 0px 20px 0px; 
  padding: 10px 20px 0px 20px;
  border-left: 8px solid;
}

/* unordered list */
ul
{ margin: 8px 0px 0px 16px;
  padding: 0px;
}

ul li
{ 
  font-size:15px;
  list-style-type: square;
  margin: 0px 0px 11px 0px; 
  padding: 0px;
}

/* ordered list */
ol
{ margin: 8px 0px 0px 24px;
  padding: 0px;
}

ol li
{ margin: 0px 0px 11px 0px; 
  padding: 0px;
}

/* main container */
#main
{ width: 780px;
  margin-left: auto; 
  margin-right: auto;
}

/* links above the logo / footer */
#links, #footer
{ margin-left: auto; 
  margin-right: auto;
  padding: 10px 21px 0px 19px;
  width: 720px;
  height: 26px;
  font-size: 94%;
  text-transform: uppercase;
}

#links{text-align: right;}

#footer{text-align: center;}

#links a, #footer a
{
  text-decoration: none;
  font-size:12px;
}

#links a:hover, #footer a:hover
{
  text-decoration: underline;
  font-size:12px;
}

/* logo */
#logo
{ margin-left: auto; 
  margin-right: auto;
  width: 760px;
  height: 100px;
  text-align: left;
}

#logo h1
{
  font-family: 'Oleo Script', cursive;
  font-size:33px;
  font-style:italic;
  text-align:left;
  margin: 0px;
  padding: 41px 0px 0px 12px;
}

/* navigation menu */
#menu
{ height: 42px;
  width: 760px;
  margin-left: auto; 
  margin-right: auto;
}

#menu ul{margin: 0px auto;} 

#menu li
{ float: left; 
  margin: 0px; 
  padding: 0px;
} 

#menu li a 
{ display: block; 
  float: left; 
  height: 37px;
  text-decoration: none; 
  padding: 3px 19px 2px 19px;
  text-transform: uppercase;
} 

/* main content */
#content
{ margin-left: auto; 
  margin-right: auto;
  width: 760px;
  height: auto;
  padding: 0px;
  overflow: hidden;
} 

/* column 1 - contains sidebar items */
#column1
{ width: 207px;
  float: right;
  padding: 16px 0px 15px 0px;
}

.sidebaritem
{
	text-align: left;
	width: 198px;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}

.sbihead
{ height: 15px;
  width: 198px;
  padding: 5px 0px 5px 19px;
  text-transform: uppercase;
}

.sbihead h1
{
	padding: 0px;
	margin: 0px;
	font-weight: bold;
	font-size: 125%;
}

.sbicontent{padding: 14px 10px 8px 12px;}

.sbicontent p
{ line-height: 14px; 
  padding: 1px 0px 8px 0px;
}

.sbilinks{padding: 0px;}

.sbilinks ul{margin: 0px auto;} 

.sbilinks li 
{ margin: 0px; 
  float: left; 
  list-style: none; 
} 

.sbilinks li a
{ float: left; 
  height: 18px;
  text-decoration: none; 
  padding: 4px 0px 4px 19px;
  margin: 1px 0px 0px 0px; 
  width: 188px;
  border: 0px;
} 

.sbilinks li a:hover
{ float: left; 
  height: 20px;
  text-decoration: none; 
  padding: 6px 0px 5px 19px;
  margin: 0px 0px 0px 0px; 
  width: 188px;
  border: 0px;
/*  font-size: 18px;*/
} 

#column1 li a#sbilink_selected, #column1 li a#sbilink_selected:hover
{ float: left; 
  height: 18px;
  text-decoration: none; 
  padding: 4px 0px 4px 19px;
  margin: 1px 0px 0px 0px; 
  width: 188px;
  border: 0px;
  font-size: 16px;
  background: #AFFF5F;
  color: #CE7014;
} 
/* column 2 - page content */
#column2
{ text-align: justify;
  width: 512px;
  float: left;
  padding: 12px 3px 15px 19px;
}

#column2 h1
{ padding: 6px 0px 4px 0px; 
  margin: 0px 0px 12px 0px; 
  border-bottom: 1px solid;
  font-size: 130%;
  text-transform: uppercase;
  font-weight: normal;
}

.sidebaritem a, #column2 a, .sidebaritem a:hover, #column2 a:hover
{ padding: 0px 0px 2px 0px;
  text-decoration: none;
  border-bottom: 1px dashed;
}

.sidebaritem a:hover, #column2 a:hover{border-bottom: 1px solid;}

/* contact page - form layout */
form{margin-top: 0px;}

div.row
{ clear: both;
  width: 448px;
}

div.row span.formlabel 
{ float: left;
  width: 150px;
  text-align: left;
}

div.row span.forminput
{ float: right;
  text-align: right;
} 

div.spacer
{ clear: both;
  width: 80px;
}

input, textarea
{ width: 259px; 
  font-family: verdana, arial, sans-serif;
  border: 1px solid;
  font-size: 100%;
  margin: 2px;
}

.submit
{ font-family: verdana, arial, sans-serif;
  border: 1px solid;
  width: 70px;
  height: 22px;
  cursor: pointer;
  font-size: 100%;
}

.head_style
{ padding: 6px 0px 4px 0px; 
  margin: 0px 0px 12px 0px; 
  border-bottom: 1px solid;
  font-size: 80%;
  text-transform: uppercase;
  font-weight: normal;
  background: transparent;
  color: #5F8CFF;
  border-color: #CAAE90;  
}

.resume_textarea
{
  font-family:"Courier New", Courier, monospace;
  font-size: 15px;
  width: 480px;
  height: 100px;
  max-width: 500px;
  max-height: 480px;
  background: transparent;
  bgcolor: #467777;
  color: #5F8CFF;
  resize: none;
}

.resume_img
{
  width: 100px;
  height: 140px;
  max-width: 100px;
  max-height: 140px;  	
}

.resume_sex
{
  width: 23px;
  height: 21px;
  margin: 1px 0px 1px 40px;
}

.resume_radio
{ width: 20px; 
  font-family: verdana, arial, sans-serif;
  border: 1px solid;
  font-size: 100%;
  margin: 1px 40px 1px 0px;
}

.resume_checkbox
{
  width: 15px;
  height: 15px;
  padding: 0 2px 0 0;
  margin: 0px 40px 0px 5px;	
}

.resume_forlang
{ 
  width: 51px; 
  font-family: verdana, arial, sans-serif;
  border: 1px solid;
  font-size: 100%;
  margin: 0px 8px 0px 0px;
}

.resume_button
{ 
  width: 120px; 
  height: 25px;
  font-family: 'Oleo Script', cursive;
  font-size: 15px;
  margin: 1px 50px 1px 0px;
}

.resume_button:hover
{ 
  width: 150px; 
  height: 30px;
  background:#91b9ff;
  font-family: verdana, arial, sans-serif;
  font-size: 20px;
  margin: 1px 60px 1px 0px;
}

#window
{
  padding: 20px 40px 30px 40px;	
}

#album, #relax{
  padding: 6px 0px 4px 0px; 
  margin: 0px 0px 12px 0px; 
  font-size: 130%;
  text-transform: uppercase;
  font-weight: normal;	
}

#album a, #relax a{
  height: 15px;
  text-decoration: none; 
  border: 0px;
}

